<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contact us </title>
    <link rel="stylesheet" href="../static/myfiles/CSS/mystyle.css">
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="d-flex justify-content-center" id="title">
            <h1> Daily Fresh </h1>
           
        </div>
        <div class="d-flex justify-content-center  blink" id="title">
            <h2>Eat Fresh To Be Best</h2>
        </div>
        <div class="d-flex justify-content-center" id="title">
            <hr id="myhr">
        </div>
        <div class="d-flex justify-content-center" id="title">
            <a href="/" class="btn btn-success btn-lg">Back To Home</a>   
        </div>
        <div class="d-flex justify-content-center" id="title">
            <hr id="myhr">
        </div>
         

    </div>





   <div class="container" id="banner">
    
        <div class="flex-container1 d-flex justify-content-center">
            <h2 class="cont">Contact us</h2>
        </div>
        <div class="flex-container1 d-flex justify-content-center">
            <h3 class="cont">Do you have any questions? Please do not hesitate to contact us. <br>  Our team will come back to you within a matter of hours to help you.</h3>
        </div>

        <div class="flex-container1 d-flex justify-content-center">
           <h3 class="cont">Email : dailyfresh@gmail.com</h3>
        </div>
        <div class="flex-container1 d-flex justify-content-center">
            <h3 class="cont">Location : Chennai </h3>
        </div>
        <div class="flex-container1 d-flex justify-content-center">
            <h3 class="cont">Contact: +91 9600 543 141 </h3>
         </div>
   </div>
    
</body>
<script src="../static/bootstrap/bootstrap.min.js></script>
</html>